PORT=3002
EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EMAILJS_PRIVATE_KEY=your_emailjs_private_key
EMAILJS_SERVICE_ID=your_emailjs_service_id
EMAILJS_ADMIN_TEMPLATE_ID=your_emailjs_admin_template_id
EMAILJS_USER_TEMPLATE_ID=your_emailjs_user_template_id
ADMIN_EMAIL=pradhanchirag03@gmail.com
EMAIL_TIMEOUT_MS=15000

# EmailJS docs: https://www.emailjs.com/docs/
